

.carousel-caption {
    position: absolute;
    right: 44%;
    bottom: 228px;
    left: 15%;
}
.winter {
    position: absolute;
    right: 44%;
    bottom: 92px;
    left: 15%;
}
.tee{
	color: black;
	
}